@model TightFlight.Models.Flight.FlightSearchResults
@{
    ViewData["Title"] = "SearchResults";
}

<div class="body-content">
    <div class="table-title">
        <h3>Search Results</h3>
    </div>
    <div>
@if (Model.Flights.Count() > 0)
{
        <table class="table-fill">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Duration (Hours)</th>
                    <th>Plane</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var flight in Model.Flights)
                    {
                        <tr class="planeRow">
                            <td>@flight.Id</td>
                            <td>@flight.Origin</td>
                            <td>@flight.Destination</td>
                            <td>@flight.Departure</td>
                            <td>@flight.Arrival</td>
                            <td>@flight.Duration</td>
                            <td>@flight.Plane</td>
                            <td>@flight.Status</td>
                            <td><a asp-controller="Flight" asp-action="ViewResult" asp-route-id="@flight.Id" class="btn btn-info">View Flight</a></td>
                        </tr>
                    }
            </tbody>
        </table>
}
else {
    <h2>Sorry, couldn't find any flights matching your criteria. Maybe go somewhere else?</h2>
}
    </div>
</div>